.field-container {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.field-label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #065189;
}

.field-input.select {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px 10px;
  font-size: 14px;
  background: white;
}
